---
title: Not all flamingos are pink
---
- sass_variable('small/_colors', 'body-colors').each do |body_color|
  %input.filter-input{ id: body_color.key, title: "Change feather color to #{body_color}", name: 'body-color', type: 'radio', value: body_color.key }

- sass_variable('small/_colors', 'beak-colors').each do |beak_color|
  %input.filter-input{ id: beak_color.key, title: "Change beak color to #{beak_color}", name: 'beak-color', type: 'radio', value: beak_color.key }

- sass_variable('small/_colors', 'leggs-colors').each do |leggs_color|
  %input.filter-input{ id: leggs_color.key,title: "Change leggs color to #{leggs_color}", name: 'leggs-color', type: 'radio', value: leggs_color.key }

#body-color
#beak-color
#leggs-color
.filter
  .filter-first-level
    %a.flamingo-icon.flamingo-icon-body-color.filter-first-level-option.fitler-body-color{ tabindex: 1, href: '#body-color', title: 'Change feather color of flamingo' }
      = svg('flamingo_icon')

    %a.flamingo-icon.flamingo-icon-beak-color.filter-first-level-option.filter-beak-color{ tabindex: 20, href: '#beak-color', title: 'Change beak color of flamingo' }
      = svg('flamingo_icon')

    %a.flamingo-icon.flamingo-icon-leggs-color.filter-first-level-option.filter-leggs-color{ tabindex: 30, href: '#leggs-color', title: 'Change leggs color of flamingo' }
      = svg('flamingo_icon')

  .filter-second-level
    - sass_variable('small/_colors', 'body-colors').each_with_index do |body_color, i|
      %label.filter-label.filter-label-body-color{ tabindex: i + 1, for: body_color.key, title: "Change feather color to #{body_color}" } body_color

  .filter-second-level
    - sass_variable('small/_colors', 'beak-colors').each_with_index do |beak_color, i|
      %label.filter-label.filter-label-beak-color{ tabindex: i + 20, for: beak_color.key, title: "Change feather color to #{beak_color}" } beak_color

  .filter-second-level
    - sass_variable('small/_colors', 'leggs-colors').each_with_index do |leggs_color, i|
      %label.filter-label.filter-label-leggs-color{ tabindex: i + 30, for: leggs_color.key, title: "Change feather color to #{leggs_color}" } leggs_color

#flamingo
  = svg('flamingo')

%p.quote
  Be a flamingo in a flock of pigeons.

%a.link-freepik{ href: 'http://www.freepik.com/free-vector/pack-of-tropical-birds_867951.htm', title: 'Go to the page which designed the flamingo' }
  Flamingo by Freepik

%a.link-start{ href: '/', title: 'Go back to the start' } Start
