---
title: <3 Not all flamingos are pink
---
- sass_variable('small/_colors', 'body-colors').each do |body_color|
  %input.filter-input{ id: body_color.key, title: "Change feather color to #{body_color}", name: 'body-color', type: 'radio', value: body_color.key }

- sass_variable('small/_colors', 'beak-colors').each do |beak_color|
  %input.filter-input{ id: beak_color.key, title: "Change beak color to #{beak_color}", name: 'beak-color', type: 'radio', value: beak_color.key }

- sass_variable('small/_colors', 'legs-colors').each do |legs_color|
  %input.filter-input{ id: legs_color.key,title: "Change legs color to #{legs_color}", name: 'legs-color', type: 'radio', value: legs_color.key }

#body-color
#beak-color
#legs-color
.filter
  .filter-first-level
    %a.flamingo-icon.flamingo-icon-body-color.filter-first-level-option.fitler-body-color{ tabindex: 1, href: '#body-color', title: 'Change feather color of flamingo' }
      = svg('flamingo_icon')

    %a.flamingo-icon.flamingo-icon-beak-color.filter-first-level-option.filter-beak-color{ tabindex: 20, href: '#beak-color', title: 'Change beak color of flamingo' }
      = svg('flamingo_icon')

    %a.flamingo-icon.flamingo-icon-legs-color.filter-first-level-option.filter-legs-color{ tabindex: 30, href: '#legs-color', title: 'Change legs color of flamingo' }
      = svg('flamingo_icon')

  .filter-second-level
    - sass_variable('small/_colors', 'body-colors').each_with_index do |body_color, i|
      %label.filter-label.filter-label-body-color{ tabindex: i + 1, for: body_color.key, title: "Change feather color to #{body_color}" } body_color

  .filter-second-level
    - sass_variable('small/_colors', 'beak-colors').each_with_index do |beak_color, i|
      %label.filter-label.filter-label-beak-color{ tabindex: i + 20, for: beak_color.key, title: "Change feather color to #{beak_color}" } beak_color

  .filter-second-level
    - sass_variable('small/_colors', 'legs-colors').each_with_index do |legs_color, i|
      %label.filter-label.filter-label-legs-color{ tabindex: i + 30, for: legs_color.key, title: "Change feather color to #{legs_color}" } legs_color

#flamingo
  = svg('flamingo')

%p.quote
  Be a flamingo in a flock of pigeons.

%a.link-freepik{ href: 'http://www.freepik.com/free-vector/pack-of-tropical-birds_867951.htm', title: 'Go to the page which designed the flamingo' }
  Flamingo by Freepik

%a.link-start{ href: 'https://ryabrody.github.io/flamingo', title: 'Go back to the start' } Start
