---
title: Welcome to Middleman
---

%input.filter-input#body-salmon{ name: 'body-color', type: 'radio', value: 'body-salmon' }
%input.filter-input#body-misty-rose{ name: 'body-color', type: 'radio', value: 'body-misty-rose' }

%input.filter-input#beak-brown{ name: 'beak-color', type: 'radio', value: 'beak-brown' }
%input.filter-input#beak-rosy-brown{ name: 'beak-color', type: 'radio', value: '' }

%input.filter-input#leggs-beige{ name: 'leggs-color', type: 'radio', value: 'leggs-beige' }
%input.filter-input#leggs-salmon{ name: 'leggs-color', type: 'radio', value: 'leggs-salmon' }

#body-color
#beak-color
#leggs-color
.filter
  .filter-first-level
    %a.flamingo-icon.flamingo-icon-body-color.filter-first-level-option.fitler-body-color{ href: '#body-color', title: I18n.t('.change-body-color') }
      = svg('flamingo_icon')

    %a.flamingo-icon.flamingo-icon-beak-color.filter-first-level-option.filter-beak-color{ href: '#beak-color', title: I18n.t('.change-beak-color') }
      = svg('flamingo_icon')

    %a.flamingo-icon.flamingo-icon-leggs-color.filter-first-level-option.filter-leggs-color{ href: '#leggs-color', title: I18n.t('.change-beak-color') }
      = svg('flamingo_icon')

  .filter-second-level
    %label.filter-label.filter-label-body-color{ for: 'body-salmon' } Salmon
    %label.filter-label.filter-label-body-color{ for: 'body-misty-rose' } MistyRose

  .filter-second-level
    %label.filter-label.filter-label-beak-color{ for: 'beak-brown' } Brown
    %label.filter-label.filter-label-beak-color{ for: 'beak-rosy-brown' } RosyBrown 

  .filter-second-level
    %label.filter-label.filter-label-leggs-color{ for: 'leggs-beige' } beige 
    %label.filter-label.filter-label-leggs-color{ for: 'leggs-salmon' } salmon

#flamingo
  = svg('flamingo')
<a href="http://www.freepik.com/free-vector/pack-of-tropical-birds_867951.htm">Designed by Freepik</a>


//%br
//%br
//%br
//%br
//%br
//%br
//%br
//%br
//// linker fuss: st0
//// rechter fuss: st1
//// body mittel hell: st2
//// body dunkel : st3
//// body hell : st4
//// weiss : st5
//// schnabel schwarz hell: st6
//// schnabel weiss dunkel: st7
//// schnabel schwarz dunkel: st7
//
//
//
//.container
//  %label{ for: 'male' } Male
//  %label{ for: 'female' } Female
//
//%input#male{ name: 'gender', type: 'radio', value: 'male' }
//%br
//%input#female{ name: 'gender', type: 'radio', value: 'female' }
//%br
//= svg('circle')
//
//:css
//  #dumdidum:checked ~ h1 {
//    color: orange;
//  }
//
//
////%input#dumdidum{ name: 'dumdidum', type: 'checkbox', value: 'dumdidum' }
////%h1 Middleman is Running
////= Base64.encode64(File.read("#{Middleman::Application.root}/source/images/example.svg"))
//////%img{ src: "data:image/svg+xml; #{)}" }
//  
//
//%input{value: 'asdf'}
//%input{value: ''}
//
//%form{ action: '#svg-circle', method: 'get' }
//  %input{value: 'asdf'}
//  %input{ type: 'submit' }
//
//%form{:action => "#", :method => "get"}
//  %input#female{ name: 'gender', type: 'radio', value: 'female' }
//  %input{:name => "VARIABLE", :type => "text", :value => "VALUE"}
//  %input{:type => "submit", :value => "submit"}/
